html{
    font-size: 14px;
}

#header{
    border: 2px solid black;
    text-align: center;
    background-color: darkgrey
    ;
}

.dp{
    height: 100px;
    width: 100px;
    margin-top: 20px;
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    
  }
  
  .grid-item2{
      text-align: left;
      background: darkgrey;
  }

#resume-body{
    max-width: 1600px;
    min-width: 300px;

    max-height: 500px;
}

li{
    font-size: 1.5rem;
    border: 2px solid;
    padding: 20px;
}

.grid1{
    border: 2px solid;
    padding: 20px;
    background: beige;
}

.grid2{
    border: 2px solid;
    padding: 20px;
    background: beige;
}